body {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.span-1, .span-2, .span-3 {
  min-height: 100px;
  float: left;
  margin-right: 3.333333%;
  width: 96.666666%;
  padding: 2%;
}

.span-1 {
  background-color: mistyrose;
/*  width: 30%;  /* 180 / 600 = etc.. */
}

.span-2 {
  background-color: linen;
/*  width: 63.33333%; */
}

.span-3 {
  background-color: plum;
/*  width: 96.6666%; */
}

nav li {
  display: none;
}

@media (min-width: 40em) {
  body {
    width: 80%;
    background-color: tomato;
  }
  .span-2 {
    width: 63.3333%
  }
  .span-1 {
    width: 30%;
  }
  nav li {
    display: inline-block;
    width: 32%;
  }

}
/*  .span-1 {
    width: 30%;
  }
}
*/
/* @media (min-width: 900px) {
  body {
    background-color: pink;
  }
}*/
