<h2>Secret Number</h2>

<form action="/secret_num" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="radio" name="result" value="1"> 1<br>
  <input type="radio" name="result" value="2"> 2<br>
  <input type="radio" name="result" value="3"> 3<br>
  <input type="radio" name="result" value="4"> 4<br>
  <input type="radio" name="result" value="5"> 5<br>
  <input type="submit" value="Submit">
</form>

<% if @response %>
  <h2>Response is: <%= @response %></h2>
<% end %>

<br>
<br>
<a href="/">Home</a>
