body {
  width: 100%;
  background-color: powderblue;
  height: 200px;
}

.selections {
  width: 49%;
  display: inline-block;
  background-color: olivedrab;
  height: 200px;
}

.journey {
  width: 100%;
  background-color: lightgray;
  height: 200px;
}
