
<h1>Login Screen</h1>

<form action="/session" method="post">

  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>login</button>
</form>
<br>
<br>
<h3>..or <a href="/signup">sign up</a></h3>
