
<h2>New Item</h2>

<form action="/item" method="post">

  <label for="">name</label>
  <input type="text" name="name">

  <label for="">image?</label>
  <input type="text" name="image_path">

  <input type="hidden" name="user_id">

  <button>add item</button>
</form>
